<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beatriz e Igor - Pagamento Sucedido</title>
    <!-- Links -->

    <link rel="stylesheet" type="text/css" href="statuspayment.css">

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Merienda:wght@300;400;600;700;800;900&family=Pacifico&family=Parisienne&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Tangerine:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <!--SDK MercadoPago.js-->
    <script src="https://sdk.mercadopago.com/js/v2"></script>
</head>

<body>
    <header class="pay-pending">
        <h1 class="pay-pending">Falha ao nos presentear!</h1>
    </header>
    <main>
        <p>
            Seu pagamento está pendente, quando tivermos resposta sobre seu pagamento iremos retorná-lo! Muito obrigado
        </p>
    </main>

    <section id="links">
        <!--<a href="https://casamentobeig.onrender.com">Voltar à página inicial</a>-->
        <a href="localhost:3000">Voltar à página inicial</a>
    </section>

</body>

</html>