/******************Lista Presentes**************************/
section#presentes {
  width: 90%;
  margin: 0 auto 50px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
}

section#presentes h2 {
  background-color: #fff1e8;
  text-align: end;
  padding: 0 30px;
  margin-bottom: 25px;
}

/**************************estilizando div 'itens'*********************************/

#itens {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 10px;
}

/*estilização das posições dos elementos*/

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 420px;
  margin: 0 auto;
  min-height: 500px;
  background-color: #ece3e4;
  padding: 5px 10px;
  border-radius: 25px;
}

/*******titulo dos itens********/
.titulo-item {
  color: #581d22;
  font-size: 1.2em;
  font-family: "merienda";
  margin: 2% 0;
  text-align: center;
}

.img-item {
  width: 90%;
  margin: 0 auto;
}

/****************btn preço***************/
div.price {
  width: 100%;
  margin: 15px 0;
}

div.price p {
  margin-bottom: 10px;
  font-family: "pacifico";
  font-size: 1em;
  padding: 5px 0 5px 5px;
  color: #581d22;
}

button.btn-price {
  width: 100%;
  outline: none;
  background-color: #dabfc1;
  border: none;
  margin-top: 10px;
  border-radius: 50px;
  font-family: "pacifico";
  font-size: 1.4em;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

button.btn-price:hover {
  background-color: white;
  color: #dabfc1;
}

button.btnPix {
  width: 100%;
  outline: none;
  background: none;
  border: none;
  margin-top: 10px;
  font-family: "pacifico";
  font-size: 1.4em;
  color: #581d22;
  transition: 0.2s;
  cursor: pointer;
}

button.btnPix:hover {
  color: #dabfc1;
}
