* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 95vh;
}

header {
  height: 25vh;
  background: linear-gradient(180deg, rgb(110, 253, 110), transparent);
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 5%;
}

/* status pagamento falha*/
header.pay-failure {
  background: linear-gradient(180deg, rgb(253, 110, 110), transparent);
}
/* status pagamento pendente*/
header.pay-failure {
  background: linear-gradient(180deg, rgb(253, 151, 110), transparent);
}

h1 {
  color: green;
  font-size: 2em;
  font-family: "merienda";
}

/* status pagamento falha*/
h1.pay-failure {
  color: rgb(128, 0, 0);
}
/* status pagamento pendente*/
h1.pay-pending {
  color: rgb(128, 83, 0);
}

main {
  box-shadow: black 0px 0px 10px -3px;
  border-radius: 5px;
  margin: 50px auto;
  width: 90%;
  max-width: 768px;
}

main p {
  color: gray;
  font-family: "merienda";
  font-size: 1.3em;
  padding: 5px 10px;
}

main span {
  background-color: #fddee0;
  display: block;
  padding: 10px 20px;
  border-radius: 0 0 5px 5px;
}

main span a {
  cursor: pointer;
  font-family: "Arial";
  font-size: 0.7em;
  color: gray;
}

section#links {
  margin: 50px auto;
  width: 90%;
  text-align: end;
  max-width: 768px;
}

section#links a {
  cursor: pointer;
  background-color: #dabfc1;
  padding: 5px 10px;
  font-family: "montserrat";
  font-weight: 600;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  box-shadow: black 0px 0px 7px -3px;
}

section#links a:hover {
  background-color: white;
  color: #dabfc1;
}

/************ media queries ****************/

@media (max-width: 500px) {
  h1 {
    font-size: 1.5em;
  }

  main p {
    font-size: 1em;
  }
}
